## Loading our Data

I have uploaded the `xlsx` spreedsheet to GitHub but you could easily use a file from your computer.

We want data just from the sheet 'Chemical_Substances'.

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("bluebook2023tablesupdated31jan.xlsx", sheet_name="5.1.6", skiprows=5)
df = df. iloc[:,:9] 
df = df.drop([df.index[0], df.index[1]])

In [16]:
df.head(50)

   ESA code    B.6g   P.31   P.32     P.3    B.8g  B.6g.1  P.51c    B.8n
2      1948     NaN    878    996    1874     NaN     NaN    NaN     NaN
3      1949     NaN    976   1111    2087     NaN     NaN    NaN     NaN
4      1950     NaN   1017   1154    2171     NaN     NaN    NaN     NaN
5      1951     NaN   1192   1342    2534     NaN     NaN    NaN     NaN
6      1952     NaN   1410   1587    2997     NaN     NaN    NaN     NaN
7      1953     NaN   1478   1642    3120     NaN     NaN    NaN     NaN
8      1954     NaN   1517   1672    3189     NaN     NaN    NaN     NaN
9      1955     NaN   1489   1767    3256     NaN     NaN    NaN     NaN
10     1956     NaN   1608   1908    3516     NaN     NaN    NaN     NaN
11     1957     NaN   1677   1988    3665     NaN     NaN    NaN     NaN
12     1958     NaN   1714   2011    3725     NaN     NaN    NaN     NaN
13     1959     NaN   1841   2121    3962     NaN     NaN    NaN     NaN
14     1960     NaN   1959   2231    4190     NaN     NaN    NaN     NaN
15     1961     NaN   2150   2378    4528     NaN     NaN    NaN     NaN
16     1962     NaN   2314   2528    4842     NaN     NaN    NaN     NaN
17     1963     NaN   2458   2412    4870     NaN     NaN    NaN     NaN
18     1964     NaN   2641   2568    5209     NaN     NaN    NaN     NaN
19     1965     NaN   3001   2889    5890     NaN     NaN    NaN     NaN
20     1966     NaN   3335   3131    6466     NaN     NaN    NaN     NaN
21     1967     NaN   3669   3447    7116     NaN     NaN    NaN     NaN
22     1968     NaN   3914   3710    7624     NaN     NaN    NaN     NaN
23     1969     NaN   4169   3930    8099     NaN     NaN    NaN     NaN
24     1970     NaN   4571   4572    9143     NaN     NaN    NaN     NaN
25     1971     NaN   5201   5234   10435     NaN     NaN    NaN     NaN
26     1972     NaN   5924   5987   11911     NaN     NaN    NaN     NaN
27     1973     NaN   6825   6826   13651     NaN     NaN    NaN     NaN
28     1974     NaN   9329   7690   17019     NaN     NaN    NaN     NaN
29     1975     NaN  13041  10505   23546     NaN     NaN    NaN     NaN
30     1976     NaN  15137  12409   27546     NaN     NaN    NaN     NaN
31     1977     NaN  16351  13664   30015     NaN     NaN    NaN     NaN
32     1978     NaN  18024  15930   33954     NaN     NaN    NaN     NaN
33     1979     NaN  20695  18691   39386     NaN     NaN    NaN     NaN
34     1980     NaN  26018  23446   49464     NaN     NaN    NaN     NaN
35     1981     NaN  29632  26200   55832     NaN     NaN    NaN     NaN
36     1982     NaN  32238  28579   60817     NaN     NaN    NaN     NaN
37     1983     NaN  35465  30387   65852     NaN     NaN    NaN     NaN
38     1984     NaN  37254  32621   69875     NaN     NaN    NaN     NaN
39     1985     NaN  38996  34064   73060     NaN     NaN    NaN     NaN
40     1986     NaN  42591  36472   79063     NaN     NaN    NaN     NaN
41     1987   90736  47643  37649   85292    5444   90736   8127   -2683
42     1988  106086  52311  39749   92060   14026  106086   8940    5086
43     1989  119492  56745  43631  100376   19116  119492  10258    8858
44     1990  127567  62317  48996  111313   16254  127567  11426    4828
45     1991  128203  69591  53077  122668    5535  128203  12035   -6500
46     1992  115483  75797  55624  131421  -15938  115483  12410  -28348
47     1993  106484  76684  57699  134383  -27899  106484  12702  -40601
48     1994  115793  80297  59540  139837  -24044  115793  13309  -37353
49     1995  126891  83942  61226  145168  -18277  126891  14127  -32404
50     1996  138349  89339  61731  151070  -12721  138349  14874  -27595
51     1997  153419  85986  66966  152952     467  153419  15309  -14842

In [4]:
df = df.rename(columns={ # specifying that we want to rename columns
    "ESA code": "Year"

})

#df = df[['substance_name', 'paragraph_name', 'section_name', 'chapter_name', 'total_items', 'total_cost', 'cost_per_item']] # specifying just the columns we want to keep

In [18]:
df

    Year    B.6g    P.31    P.32     P.3     B.8g  B.6g.1  P.51c     B.8n
2   1948     NaN     878     996    1874      NaN     NaN    NaN      NaN
3   1949     NaN     976    1111    2087      NaN     NaN    NaN      NaN
4   1950     NaN    1017    1154    2171      NaN     NaN    NaN      NaN
5   1951     NaN    1192    1342    2534      NaN     NaN    NaN      NaN
6   1952     NaN    1410    1587    2997      NaN     NaN    NaN      NaN
..   ...     ...     ...     ...     ...      ...     ...    ...      ...
72  2018  426885  259603  139462  399065    27820  426885  43699   -15879
73  2019  451718  276253  150339  426592    25126  451718  45446   -20320
74  2020  306745  319792  155826  475618  -168873  306745  46650  -215523
75  2021  424736  338351  170365  508716   -83980  424736  47943  -131923
76  2022  494023  338175  186869  525044   -31021  494023  52271   -83292

[75 rows x 9 columns]

In [5]:
df.to_csv("general_government_income.csv", index=False)